.card {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}
.main-heading {
    color: blue;
    font-weight: bold;
    font-family: Roboto;
}
.para {
    color: yellow;
    font-family: Roboto;
}